page-products {
	.title-text{
		text-align: center;
    	padding: 40% 0px 30px 0px;
	}
	ion-title {
	  position: absolute;
	  top: 0;
	  left: 0;
	  padding: 0 0px 1px;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  z-index: -1;
	  padding-left: 0px !important;
	  padding-right: 0px !important;
	}
	.icon-menu{
		width: 17px;
		height: 17px;
    	margin-right: 5px;
    	position: relative;
    	top: 2px;
	}
	.icon-cart{
		color: #ffffff;
		font-size: 1.8em;
	}
	.card-content{
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    position: absolute;
	    z-index: 1;
	    display: block;
	    overflow: auto;
	    contain: size style layout;
	    padding: 25px 20px 0px;
	    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(../assets/imgs/edificios.png) #fff;
	    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../assets/imgs/edificios.png) #fff;
		background-size: 100%;
	    background-position-y: bottom;
	    background-repeat: no-repeat;
	}
	accordion-list {
        background: color($colors, light);
        height: 100%;
    }
    .section {
        background: #0b417a;
        color: #fff;
        margin-bottom: 5px;
        text-align: center;
        border-radius: 3px;
    }
    .item-name{
    	position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    text-align: center;
	    margin: 10px;
	    font-weight: bold;
	    font-size: 20px;
    }
    .section-active {
        background: #0b417a !important;
        color: #fff;
        text-transform: capitalize;
    }
    .child {
        background: #e8e7e6 !important;
        color: #000;
        margin-bottom: 0px;
        text-transform: capitalize;
    }
    .child-item {
        background: #ffff !important;
        padding: 10px;
        border: 1px solid #e8e7e6 !important;
        border-top: none !important;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
    .list-header-md, .list-header-ios{
    	margin-bottom: 2px;
    	background-color: transparent;
    	border-top: none !important;
    }
    .item-md p {
	    margin: 0 25px 0 5px;
	    overflow: visible;
	    font-size: 1.3rem;
	    line-height: normal;
	    text-overflow: inherit;
	    color: #666;
	}
	.item-ios p {
	    margin: 0 25px 0 5px;
	    overflow: visible;
	    font-size: 1.2rem;
	    line-height: normal;
	    text-overflow: inherit;
	    color: #666;
	}
	.item-md [item-end], .item-ios [item-end]{
		margin: 9px 0px;
	}
	.item-md.item-block .item-inner, .item-ios.item-block .item-inner{
		padding-right: 0px;
	}
	.item-ios h2, .item-md h2 {
	    font-size: 1.5rem;
	    font-weight: normal;
	    text-transform: capitalize;
	}
	.item-md .item-button{
		border-radius: 4px;
	}
	.content-address{
		padding: 5px 12px;
	    font-size: 12px;
	    background-color: #fafafa;
	    border: 1px solid #e8e7e6;
	    text-transform: lowercase;
	    color: #757575;
	}
	.icon-address{
		margin-right: 3px !important;
		font-size: 12px;
	}
	.icon-child{
		font-size: 2.2rem;
		min-height: 2.2rem;
	}
	.img-sub{
		height: 48px;
	    width: 55px;
	    float: right;
	    object-fit: cover;
	    opacity: 0.7;
	}
}
