<div class="row">
  <div class="col-lg-6" style="display:block; margin:auto">
  
    <nb-card>
      <nb-card-header>Costo por Km</nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="number" class="form-control" placeholder="Costo" [(ngModel)]="costoxkm" id="input-costoxkm">
          <span class="input-group-btn">
            <button class="btn btn-danger">
              $ MXN
            </button>
          </span>
        </div>
        <br>
        <button type="submit" class="btn btn-success" [disabled]="costoxkm == '' || costoxkm == undefined || costoxkm < 0" (click)="configurarSist()">Aceptar</button>
      </nb-card-body>
    </nb-card>

</div>


<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>


