<div class="row">
  <div class="col-md-6" style="display:block; margin:auto">
    <nb-card>
      <nb-card-header>
      	<div class="header">
          {{usuario_nombre}}
          <button (click)="printConversas()">print</button>
          <button (click)="addConversa()">add</button>
        </div>
    </nb-card-header>
      <nb-card-body>
		<div class="chatbox">
			<div class="chatlogs">
				<div *ngFor="let msg of msgList">
					<div *ngIf="msg.emisor_id == toUser.id" class="chat friend">
						<div class="user-photo"><img src="{{msg.userAvatar}}"></div>
						<p class="chat-message">{{msg.msg}}</p>
					</div>
					<div *ngIf="msg.emisor_id == user.id" class="chat self">
						<div class="user-photo"><img src="{{msg.userAvatar}}"></div>
						<p class="chat-message">{{msg.msg}}</p>
					</div>
				</div>
			</div>

			<div class="chat-form">
				<textarea name="msg" [(ngModel)]="editorMsg" id="msg"></textarea>
				<button [disabled]="!editorMsg || editorMsg == ''" (click)="sendMsg()">Enviar</button>
			</div>

		</div>        
      </nb-card-body>
    </nb-card>
  </div>
</div>

<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>


