<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Registro de Socio Nuevo</nb-card-header>
      <nb-card-body>
        <div class="input-group has-person-icon">
          <input type="text" placeholder="Nombre completo del Socio" class="form-control"/>
        </div>
        <div class="input-group has-map-marker">
          <input type="text" placeholder="Dirección" class="form-control"/>
        </div>
        <div class="input-group has-phone-icon input-group-rounded">
          <input type="number" placeholder="Numero Telefonico" class="form-control"/>
        </div>
        <div class="input-group mail-btn-group">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-icon">
              <i class="ion-ios-email-outline"></i>
            </button>
          </span>
          <input type="email" class="form-control" placeholder="Correo electronico">
          <span class="input-group-btn">
            <button class="btn btn-primary">
              @ejemplo.com
            </button>
          </span>
        </div>
       <div class="form-group">
          <select class="form-control" placeholder="Estado">
          <option disabled selected>Selecciona tu estado
          </option>
          </select>
        </div>
         <div class="form-group">
          <select class="form-control" placeholder="Ciudad">
          <option disabled selected>Selecciona tu ciudad
          </option>
          </select>
        </div>
           <button type="submit" align="center" class="btn btn-info">Agregar</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
